<div class="header-hint"
     *ngIf="!isToolbarVisible"
     (mouseenter)="showToolbar()"
     (click)="showToolbar()">
  <mat-icon>expand_more</mat-icon>
</div>

<mat-toolbar color="primary" class="main-toolbar"
             [class.visible]="isToolbarVisible"
             (mouseenter)="showToolbar()"
             (mouseleave)="startHideTimer()">
  <div class="logo-container">
    <img src="assets/pictures/logos/nodify_transparent.png" alt="Nodify" class="logo-img">
    <span class="app-name">{{'APP_NAME' | translate}}</span>
  </div>

  <div class="nav-buttons">
    <button mat-button [matMenuTriggerFor]="workspaceMenu" class="nav-button" (mouseenter)="cancelHideTimer()">
      <mat-icon>workspaces</mat-icon>
      <span>{{ 'WORKSPACE' | translate }}</span>
      <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
    </button>

    <mat-menu #workspaceMenu="matMenu" class="nav-menu">
      <a mat-menu-item routerLink="nodes" [queryParams]="{parentNode: ''}">
        <mat-icon>folder</mat-icon>
        <span>{{ 'PROJECTS' | translate }}</span>
      </a>
      <a mat-menu-item routerLink="plugins">
        <mat-icon>extension</mat-icon>
        <span>{{ 'PLUGINS' | translate }}</span>
      </a>
      <a mat-menu-item routerLink="charts">
        <mat-icon>bar_chart</mat-icon>
        <span>{{ 'CHARTS' | translate }}</span>
      </a>
    </mat-menu>

    @if(isAdmin()) {
    <button mat-button [matMenuTriggerFor]="adminMenu" class="nav-button" (mouseenter)="cancelHideTimer()">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>{{ 'ADMINISTRATION' | translate }}</span>
      <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
    </button>

    <mat-menu #adminMenu="matMenu" class="nav-menu">
      <a mat-menu-item routerLink="admin/unlock-resources">
        <mat-icon>lock_open</mat-icon>
        <span>{{ 'LOCKED_RESOURCES' | translate }}</span>
      </a>
      <a mat-menu-item routerLink="admin/users">
        <mat-icon>people</mat-icon>
        <span>{{ 'USERS' | translate }}</span>
      </a>
      <a mat-menu-item routerLink="admin/languages">
        <mat-icon>language</mat-icon>
        <span>{{ 'LANGUAGES' | translate }}</span>
      </a>
    </mat-menu>
    }
  </div>

  <span class="toolbar-spacer"></span>

  <div class="user-actions">
    <div class="language-wrapper">
      <button mat-button [matMenuTriggerFor]="languageMenu" [matTooltip]="'LANGUAGE' | translate"
              class="language-button" (mouseenter)="cancelHideTimer()">
        <mat-icon>translate</mat-icon>
        <span class="selected-language-text">{{ getCurrentLanguageLabel() | translate }}</span>
        <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
      </button>
    </div>
    <mat-menu #languageMenu="matMenu" class="nav-menu">
      <button *ngFor="let language of languageList"
              mat-menu-item
              (click)="changeSiteLanguage(language.code)">
    <span [class.active-language]="language.code === selectedLanguage">
      {{ language.label | translate }}
    </span>
      </button>
    </mat-menu>

    <button mat-icon-button routerLink="/notifications"
            [matTooltip]="'NOTIFICATIONS' | translate"
            [matBadge]="(nbNotifications < 99) ? nbNotifications : '99+'"
            matBadgeColor="warn"
            matBadgeSize="small" (mouseenter)="cancelHideTimer()">
      <mat-icon>notifications</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="userAccountMenu"
            [matTooltip]="'MY_ACCOUNT' | translate" (mouseenter)="cancelHideTimer()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userAccountMenu="matMenu" xPosition="before" class="nav-menu">
      <button mat-menu-item routerLink="/userInfos">
        <mat-icon>person</mat-icon>
        <span>{{ 'MY_ACCOUNT' | translate }}</span>
      </button>
      <button mat-menu-item routerLink="/helps">
        <mat-icon>help</mat-icon>
        <span>{{ 'HELP' | translate }}</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'LOGOUT' | translate }}</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
