/* Centrer la carte de login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style de la carte */
mat-card {
  max-width: 600px;
  max-height: 600px;
  width: 500px;
  height: 540px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

/* Ajuster la largeur des champs */
mat-form-field {
  width: 80%;
}

/* Centrer le logo */
mat-card img {
  max-width: 200px;
  margin: 0 auto;
}

/* Espacement des boutons */
mat-card-actions {
  display: flex;
  justify-content: space-around;
}
