@import '../commons.css';

.key-field {
  flex: 1;
}

.value-field {
  flex: 2;
}

.values-table {
  @extend .table-base;
  max-height: 300px;
}

.key-cell, .value-cell {
  max-width: 200px;

  .key-text, .value-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Style pour les cellules en mode édition */
.editable-cell {
  @extend .editable-cell;
  padding: 0 !important;
}
