div {
  display: block;
  vertical-align: top;
  margin-right: 5px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
select, input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  div {
    width: 100% !important;
    margin-bottom: 10px;
  }
}


button {
  margin-top: 30px;
  background-color: white;
  color: var(--primary);
  font-size: 14px;
  border: none;
  cursor: pointer;
}
