table {
  overflow: auto;
  max-height: 70%;
  min-width: 95%;
  display: block;
  position: absolute;
}
td {
  cursor: pointer;
}
span>div { display: none; }
span:hover>div {
  display: block;
  position: absolute;
  width: 20%;
  height: auto;
  top: 10%;
  left: 40%;
}

.description {
  color: var(--secondary);
  max-width: 120px;
  font-size: smaller;
}
.dialog-title .mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px; /* Optionnel : Ajoute un peu de marge */
}

.dialog-title .spacer {
  flex: 1;
}
.title-left {
  text-align: left;
}
