<div class="content-dialog">

  <div class="dialog-header">
    <div class="header-content">
      <div class="header-icon">
        <mat-icon>perm_media</mat-icon>
      </div>
      <div class="header-title">
        <span class="title-main">{{ "CONTENTS" | translate }}</span>
      </div>
    </div>

    <div class="header-actions" *ngIf="userAccessService.canEdit()">
      <div class="button-badge-container">
        <!-- Badge placé au-dessus du conteneur -->
        @if(totalDeleteds > 0) {
        <div class="floating-badge">
          <span class="badge-content">{{ totalDeleteds }}</span>
        </div>
        }

        <!-- Bouton normal -->
        <button mat-mini-fab class="action-btn warn-btn"
                (click)="deleteds()"
                matTooltip="{{ 'DELETED_CONTENTS' | translate }}">
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </div>

      <button mat-mini-fab class="action-btn primary-btn" (click)="fileInput.click()" matTooltip="{{ 'IMPORT' | translate }}">
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <input hidden #fileInput type="file" id="file" (change)="import($event.target)">

      <mat-form-field appearance="outline" class="type-select">
        <mat-label>{{ "CONTENT_TYPE" | translate }}</mat-label>
        <mat-select [(ngModel)]="type" name="selectType">
          <mat-option value="HTML">{{ "HTML" | translate }}</mat-option>
          <mat-option value="SCRIPT">{{ "SCRIPT" | translate }}</mat-option>
          <mat-option value="STYLE">{{ "STYLE" | translate }}</mat-option>
          <mat-option value="PICTURE">{{ "PICTURE" | translate }}</mat-option>
          <mat-option value="FILE">{{ "FILE" | translate }}</mat-option>
          <mat-option value="JSON">{{ "JSON" | translate }}</mat-option>
          <mat-option value="XML">{{ "XML" | translate }}</mat-option>
          <mat-option value="URLS">{{ "URLS" | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-fab class="create-fab" (click)="create()" matTooltip="{{ 'ADD' | translate }}">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <button mat-icon-button class="close-btn" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content class="dialog-content">
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" class="content-table">

        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-content">
              <mat-icon class="header-icon">fiber_manual_record</mat-icon>
              <span>{{ "ACTIVE" | translate }}</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button class="status-btn" (click)="gotoPublished(element)"
                    *ngIf="element.lockInfo && !element.lockInfo.locked"
                    matTooltip="{{ 'PUBLICATION_STATUS' | translate }}">
              <mat-icon [class]="'status-icon ' + getPublishedIcon(element)">fiber_manual_record</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-content">
              <mat-icon class="header-icon">category</mat-icon>
              <span>{{ "TYPE" | translate }}</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="type-cell">
              <span class="type-badge">{{ element.type | translate }}</span>
              <div class="type-description" *ngIf="element.description">
                <i>{{ element.description | slice:0:30 }}</i>
              </div>
              <div class="lock-info" *ngIf="element.lockInfo && element.lockInfo.locked">
                <mat-icon class="lock-icon">lock</mat-icon>
                <span>{{ 'LOCKED_BY' | translate }} {{ element.lockInfo.owner }}</span>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Version">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-content">
              <mat-icon class="header-icon">tag</mat-icon>
              <span>{{ "VERSION" | translate }}</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="version-cell">
              <span class="version-badge">{{ element.version }}</span>
              @if(element && element.file && element.file.data && element.type === 'PICTURE') {
              <img src="{{element.file.data}}" class="content-thumbnail"/>
              }
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Last Modification">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-content">
              <mat-icon class="header-icon">update</mat-icon>
              <span>{{ "MODIFICATION_DATE" | translate }}</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="date-cell">{{ element.modificationDate | date :'dd/MM/YYYY HH:mm' }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="Modified by">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-content">
              <mat-icon class="header-icon">person</mat-icon>
              <span>{{ "MODIFIED_BY" | translate }}</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="user-cell">{{ element.modifiedBy }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="Translations">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-content">
              <mat-icon class="header-icon">translate</mat-icon>
              <span>{{ "TRANSLATIONS" | translate }}</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button class="action-icon-btn"
                    *ngIf="element.lockInfo && !element.lockInfo.locked"
                    (click)="translations(element)"
                    matTooltip="{{ 'TRANSLATIONS' | translate }}">
              <mat-icon [class.text-warning]="element.translations?.length > 0">flag</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Rules">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-content">
              <mat-icon class="header-icon">rule</mat-icon>
              <span>{{ "RULES" | translate }}</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button class="action-icon-btn"
                    *ngIf="element.lockInfo && !element.lockInfo.locked"
                    (click)="rules(element)"
                    matTooltip="{{ 'RULES' | translate }}">
              <mat-icon [class.text-warning]="element.rules?.length > 0">list</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Values">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-content">
              <mat-icon class="header-icon">attach_money</mat-icon>
              <span>{{ "VALUES" | translate }}</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button class="action-icon-btn"
                    *ngIf="element.lockInfo && !element.lockInfo.locked"
                    (click)="values(element)"
                    matTooltip="{{ 'VALUES' | translate }}">
              <mat-icon [class.text-warning]="element.values?.length > 0">payments</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Publication">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-content">
              <mat-icon class="header-icon">publish</mat-icon>
              <span>{{ "PUBLICATION" | translate }}</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button class="action-icon-btn success-btn"
                    *ngIf="userAccessService.canEdit() && element.lockInfo && !element.lockInfo.locked"
                    (click)="publish(element)"
                    matTooltip="{{ 'DEPLOY_VERSION' | translate }}">
              <mat-icon>play_arrow</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header-content">
              <mat-icon class="header-icon">settings</mat-icon>
              <span>{{ "ACTIONS" | translate }}</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="actions-cell">
              <button mat-icon-button class="action-icon-btn"
                      *ngIf="userAccessService.canEdit()"
                      (click)="view(element)"
                      matTooltip="{{ 'VIEW' | translate }}">
                <mat-icon class="text-info">visibility</mat-icon>
              </button>

              <button mat-icon-button class="action-icon-btn"
                      *ngIf="userAccessService.canEdit() && element.lockInfo && !element.lockInfo.locked"
                      (click)="update(element)"
                      matTooltip="{{ 'EDIT' | translate }}">
                <mat-icon class="text-primary">edit</mat-icon>
              </button>

              <button mat-icon-button class="action-icon-btn"
                      *ngIf="userAccessService.canEdit() && haveDatas(element.code)"
                      (click)="datas(element)"
                      matTooltip="{{ 'DATAS' | translate }}">
                <mat-icon class="text-accent">topic</mat-icon>
              </button>

              <button mat-icon-button class="action-icon-btn"
                      *ngIf="userAccessService.canEdit()"
                      (click)="export(element,'')"
                      matTooltip="{{ 'EXPORT' | translate }}">
                <mat-icon class="text-success">ios_share</mat-icon>
              </button>

              <button mat-icon-button class="action-icon-btn"
                      *ngIf="userAccessService.canEdit() && element.lockInfo && !element.lockInfo.locked"
                      [matMenuTriggerFor]="deployNodeMenu"
                      matTooltip="{{ 'DEPLOY_ENVIRONMENT' | translate }}">
                <mat-icon class="text-warning">share</mat-icon>
              </button>
              <mat-menu #deployNodeMenu class="modern-menu" xPosition="before">
                <div class="menu-header">{{ 'DEPLOY_ENVIRONMENT' | translate }}</div>
                <button mat-menu-item *ngFor="let env of getEnvironments()" (click)="deploy(element, env.code)">
                  <mat-icon>cloud_queue</mat-icon>
                  <span>{{ env.name }}</span>
                </button>
              </mat-menu>

              <button mat-icon-button class="action-icon-btn"
                      *ngIf="userAccessService.canEdit() && element.lockInfo && !element.lockInfo.locked"
                      (click)="delete(element)"
                      matTooltip="{{ 'DELETE' | translate }}">
                <mat-icon class="text-danger">delete</mat-icon>
              </button>

              <button mat-icon-button class="action-icon-btn"
                      *ngIf="userAccessService.canEdit() && element.lockInfo && !element.lockInfo.locked"
                      (click)="favorite(element)"
                      matTooltip="{{ 'FAVORITE' | translate }}">
                <mat-icon [class.text-warning]="element.favorite" [class.text-disabled]="!element.favorite">
                  {{ element.favorite ? 'favorite' : 'favorite_border' }}
                </mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [class.granted-row]="row.IsGranted"
            class="content-row"></tr>
      </table>
      <div class="empty-state" *ngIf="dataSource.data.length === 0">
        <mat-icon>perm_media</mat-icon>
        <p>{{ "NO_CONTENTS" | translate }}</p>
      </div>
    </div>
  </div>
</div>
