<div mat-dialog-title class="dialog-title">
  <mat-toolbar>
    <span>{{ "CONTENTS" | translate }}</span>
    <span class="spacer"></span> <!-- Pour pousser le bouton vers la droite -->
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div mat-dialog-content>
  <p>

    <mat-icon class="icon-display scale2 danger"
              *ngIf="userAccessService.canEdit()"
              inline matTooltip="{{ 'DELETED_CONTENTS_NODES' | translate}}"
              (click)="deleteds()">delete
    </mat-icon>

    <mat-icon class="icon-display scale2"
              *ngIf="userAccessService.canEdit()"
              inline matTooltip="{{ 'IMPORT' | translate}}" (click)="fileInput.click()">
      downloading
    </mat-icon>
    <input hidden #fileInput type="file"
           id="file"
           (change)="import($event.target)">

    <mat-form-field appearance="outline" *ngIf="userAccessService.canEdit()">
      <mat-label>{{ "CONTENTS" | translate }}</mat-label>
      <mat-select [(ngModel)]="type" name="selectType">
        <mat-option value="HTML"> {{ "HTML"| translate }}</mat-option>
        <mat-option value="SCRIPT"> {{ "SCRIPT"| translate }}</mat-option>
        <mat-option value="STYLE"> {{ "STYLE"| translate }}</mat-option>
        <mat-option value="PICTURE"> {{ "PICTURE"| translate }}</mat-option>
        <mat-option value="FILE"> {{ "FILE"| translate }}</mat-option>
        <mat-option value="JSON"> {{ "JSON"| translate }}</mat-option>
        <mat-option value="XML"> {{ "XML"| translate }}</mat-option>
        <mat-option value="URLS"> {{ "URLS" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button class="code-validation" (click)="create()" *ngIf="userAccessService.canEdit()">{{ "ADD" | translate }}</button>
  </p>


  <table mat-table [dataSource]="dataSource"  *ngIf="userAccessService.getCurrentUser()">
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> {{ "ACTIVE" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="gotoPublished(element)" *ngIf=" (element.lockInfo && !element.lockInfo.locked)" mat-icon-button>
          <mat-icon class="{{getPublishedIcon(element)}}">fiber_manual_record</mat-icon>
        </button>
      </td>
    </ng-container>


    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef> {{ "TYPE" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <div class="description" matTooltip="{{element.description }}, {{'CODE' | translate}}: {{element.code}}">
          <i>{{ element.description | slice:0:30 }}</i></div>
        <span title="{{element.type | translate}}">
          {{ element.type | translate }}
        </span>
         <div class="danger" *ngIf= "element.lockInfo && element.lockInfo.locked">
          {{"LOCKED_BY"| translate}} {{ element.lockInfo.owner }}
         </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Version">
      <th mat-header-cell *matHeaderCellDef> {{ "VERSION" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <span title='{{element.version | translate}}'>
          {{ element.version }}
          @if(element && element.file && element.file.data) {
            <div>
              <img src="{{element.file.data}}" *ngIf="element.type === 'PICTURE'"/>
            </div>
          }
        </span>
      </td>
    </ng-container>


    <ng-container matColumnDef="Last Modification">
      <th mat-header-cell *matHeaderCellDef> {{ "MODIFICATION_DATE" | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.modificationDate |date :'dd/MM/YYYY HH:mm' }}</td>
    </ng-container>

    <ng-container matColumnDef="Modified by">
      <th mat-header-cell *matHeaderCellDef> {{ "MODIFIED_BY" | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{ element.modifiedBy }}</td>
    </ng-container>

    <ng-container matColumnDef="Translations">
      <th mat-header-cell *matHeaderCellDef> {{ "TRANSLATIONS" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="(!element.translations || element.translations.length <= 0) &&  (element.lockInfo && !element.lockInfo.locked)" class="icon-display"
                  (click)="translations(element)" inline>flag
        </mat-icon>
        <mat-icon *ngIf="element.translations && element.translations.length > 0 &&  (element.lockInfo && !element.lockInfo.locked)" class="icon-display danger"
                  (click)="translations(element)" inline>flag
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="Rules">
      <th mat-header-cell *matHeaderCellDef> {{ "RULES" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="(!element.rules || element.rules.length <= 0) &&  (element.lockInfo && !element.lockInfo.locked)" class="icon-display" (click)="rules(element)"
                  inline matTooltip="{{'RULES'|translate}}">list
        </mat-icon>
        <mat-icon *ngIf="(element.rules && element.rules.length > 0) &&  (element.lockInfo && !element.lockInfo.locked)" class="icon-display danger" (click)="rules(element)"
                  inline matTooltip="{{'RULES'|translate}}">list
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="Values">
      <th mat-header-cell *matHeaderCellDef> {{ "VALUES" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="(!element.values || element.values.length <= 0) &&  (element.lockInfo && !element.lockInfo.locked)" class="icon-display" (click)="values(element)"
                  inline matTooltip="{{ 'VALUES' | translate}}">money
        </mat-icon>
        <mat-icon *ngIf="element.values && element.values.length > 0 &&  (element.lockInfo && !element.lockInfo.locked)" class="icon-display danger"
                  (click)="values(element)" inline matTooltip="{{ 'VALUES' | translate}}">money
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="Publication">
      <th mat-header-cell *matHeaderCellDef> {{ "PUBLICATION" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button *ngIf="userAccessService.canEdit() &&  (element.lockInfo && !element.lockInfo.locked)"
                matTooltip="{{'DEPLOY_VERSION'| translate}}"
                (click)="publish(element)">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> {{ "ACTIONS" | translate }}</th>
      <td mat-cell *matCellDef="let element">

        <mat-icon class="icon-display primary" *ngIf="userAccessService.canEdit()" (click)="view(element)" inline
                  matTooltip="{{ 'VIEW' | translate}}">visibility
        </mat-icon>

        <mat-icon class="icon-display warn" *ngIf="userAccessService.canEdit() &&  (element.lockInfo && !element.lockInfo.locked)" (click)="update(element)" inline
                  matTooltip="{{ 'EDIT' | translate}}">edit
        </mat-icon>

        <mat-icon class="icon-display secondary" *ngIf="userAccessService.canEdit() && haveDatas(element.code)" (click)="datas(element)" inline
                  matTooltip="{{ 'DATAS' | translate}}">topic
        </mat-icon>

        <button mat-icon-button matTooltip="{{'EXPORT'| translate}}" *ngIf="userAccessService.canEdit()"
                (click)="export(element,'')">
          <mat-icon>ios_share</mat-icon>
        </button>


        <button mat-icon-button matTooltip="{{'DEPLOY_ENVIRONMENT'| translate}}" [matMenuTriggerFor]="deployNodeMenu" *ngIf="userAccessService.canEdit() &&  (element.lockInfo && !element.lockInfo.locked)">
          <mat-icon>share</mat-icon>
        </button>

        <mat-menu #deployNodeMenu [overlapTrigger]="false" yPosition="below">
          <button mat-menu-item *ngFor="let env of getEnvironments()" (click)="deploy(element, env.code)">
            <small> {{ env.name }}</small>
          </button>
        </mat-menu>

        <mat-icon class="icon-display danger" *ngIf="userAccessService.canEdit() &&  (element.lockInfo && !element.lockInfo.locked)" (click)="delete(element)" inline
                  matTooltip="{{ 'DELETE' | translate}}">delete
        </mat-icon>
        <mat-icon class="icon-display primary"
                  *ngIf="element.favorite && userAccessService.canEdit() &&  (element.lockInfo && !element.lockInfo.locked)"
                  (click)="favorite(element)" inline matTooltip="{{ 'FAVORITE' | translate}}">favorite
        </mat-icon>
        <mat-icon class="icon-display disabled"
                  *ngIf="!element.favorite && userAccessService.canEdit() &&  (element.lockInfo && !element.lockInfo.locked)"
                  (click)="favorite(element)" inline matTooltip="{{ 'FAVORITE' | translate}}">favorite
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;" class="mat-header-cell"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-gold': row.IsGranted }" class="mat-row"></tr>
  </table>
</div>
