<div class="nodes-view-dialog">

  <!-- En-tête -->
  <div class="dialog-header">
    <div class="header-content">
      <div class="header-icon">
        <mat-icon>account_tree</mat-icon>
      </div>
      <div class="header-title">
        <span class="title-main">{{ "NODES_VIEW" | translate }}</span>
        @if (node?.name) {
        <span class="title-code">({{ node.name }})</span>
        }
      </div>
    </div>
    <button mat-icon-button class="close-btn" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Contenu -->
  <div mat-dialog-content class="dialog-content">

    <!-- Graphique -->
    <echarts [options]="options | async" class="echart-container" (chartInit)="onChartInit($event)">
    </echarts>

  </div>
</div>