<p>
  <mat-toolbar>
    <span> {{ "CONTENT_PUBLICATION_HOSTORY" | translate }}</span>
  </mat-toolbar>
</p>
<h2 mat-dialog-title>{{ contentNode.type | translate }} ( {{ contentNode.code }} )</h2>

<div mat-dialog-content>

  <table mat-table [dataSource]="dataSource" style="margin-bottom: 50px">
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> {{ "ACTIVE" | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button>
          <mat-icon *ngIf="isPublished(element)" class="primary">fiber_manual_record</mat-icon>
          <mat-icon *ngIf="isArchived(element)" class="disabled">fiber_manual_record</mat-icon>
          <mat-icon *ngIf="isSnapshot(element)" class="danger">fiber_manual_record</mat-icon>
        </button>
      </td>
    </ng-container>


    <ng-container matColumnDef="Version">
      <th mat-header-cell *matHeaderCellDef> {{ "VERSION" | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <span title='{{element.version | translate}}'>{{element.version}} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Last Modification">
      <th mat-header-cell *matHeaderCellDef> {{ "MODIFICATION_DATE" | translate}} </th>
      <td mat-cell *matCellDef="let element">{{ element.modificationDate |date :'dd/MM/YYYY HH:mm' }}</td>
    </ng-container>

    <ng-container matColumnDef="Modified by">
      <th mat-header-cell *matHeaderCellDef> {{ "MODIFIED_BY" | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>


    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef> {{ "TYPE" | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <span title='{{element.type | translate}}'>{{element.type}} </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> {{ "ACTIONS" | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="icon-display warn" (click)="revert(element)" inline matTooltip="{{ 'REVERT' | translate}}">cloud_download</mat-icon>
        <mat-icon class="icon-display warn" (click)="deploy(element)" inline matTooltip="{{ 'DEPLOY' | translate}}">history</mat-icon>
        <mat-icon class="icon-display warn" (click)="delete(element)" inline matTooltip="{{ 'DELETE' | translate}}">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-gold': row.IsGranted }"></tr>
  </table>

  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">{{ "CANCEL" | translate }}</button>
    <button mat-button (click)="validate()">{{ "SAVE" | translate }}</button>
  </div>

</div>
