<p>
  <mat-toolbar>
    <span> {{ "RULES" | translate }}</span>
  </mat-toolbar>
</p>
<div class="container">

  <label for="ruleType">{{'TYPE'| translate}}</label>
  <select id="ruleType" name="ruleType" [(ngModel)]="ruleType" required class="rulesTypes">
    <option value="BOOL" selected>BOOL</option>
    <option value="DATE">DATE</option>
  </select>

  <button [disabled]="!ruleType" (click)="create()">{{'ADD' | translate}}</button>

  <div *ngIf="rulesConditions && rulesConditions.length > 0">
    <div *ngFor="let selected of rulesConditions" class="rule-row">
      <input type="text" placeholder="Rule Name" [(ngModel)]="selected.name"
             [disabled]="!selected.editable">
      <select [(ngModel)]="selected.operator" name="selectOperator" *ngIf="selected.type !== 'BOOL'">
        <option value="EQ">=</option>
        <option value="SUP">&gt;</option>
        <option value="LOW">&lt;</option>
        <option value="SUP_EQ">≥</option>
        <option value="LOW_EQ">≤</option>
        <option value="DIF">≠</option>
      </select>
      <input *ngIf="selected.type === 'DATE'" type="datetime-local" [(ngModel)]="selected.value" (ngModelChange)="updateBehavior(selected)" placeholder="Value">
      <select [(ngModel)]="selected.behavior" name="selectBehavior">
        <option *ngIf="node.hasOwnProperty('contents')" [value]="true">Enable Node</option>
        <option *ngIf="node.hasOwnProperty('contents')" [value]="false">Disable Node</option>
        <option *ngIf="!node.hasOwnProperty('contents')" [value]="true">Enable Content</option>
        <option *ngIf="!node.hasOwnProperty('contents')" [value]="false">Disable Content</option>
      </select>
      <div class="checkbox-container">
        <input *ngIf="(selected.type=='BOOL')
        || ( selected.operator && selected.value && selected.type=='DATE')" type="checkbox" [(ngModel)]="selected.enable"> Activate Rule
      </div>
      <button *ngIf="selected.erasable" (click)="remove(selected)">X</button>
    </div>
  </div>
</div>

<div>
  <button (click)="cancel()">{{ "CANCEL" | translate }}</button>
  <button *ngIf="canSave()" (click)="validate()">{{ "SAVE" | translate }}</button>
</div>
