<link rel="stylesheet" href="translations-dialog.component.css">
<p>
  <mat-toolbar>
    <span> {{ "TRANSLATIONS" | translate }}</span>
  </mat-toolbar>
</p>
<div mat-dialog-content>

  <div fxLayout="row" *ngIf="userAccessService.canEdit()">
    <div style="width: 20%; margin-right: 5px">
      <label for="selectLanguage">{{ "NODE_DEFAULT_LANGUAGE" | translate }}</label>
      <select id="selectLanguage" [(ngModel)]="current.language" name="selectLanguage" required>
        <option *ngFor="let lang of languages" [value]="lang.code">{{lang.code}}</option>
      </select>
    </div>

    <div style="width: 20%; margin-right: 5px">
      <label for="keyInput">{{ "KEY" | translate }}</label>
      <input id="keyInput" type="text" placeholder="{{ 'KEY' | translate}}" [(ngModel)]="current.key" required>
    </div>

    <div style="width: 20%; margin-right: 5px">
      <label for="valueInput">{{ "VALUE" | translate }}</label>
      <input id="valueInput" type="text" placeholder="{{ 'VALUE' | translate}}" [(ngModel)]="current.value" required>
    </div>
    <button *ngIf="current && current.language && current.key && current.value" (click)="create()">{{'UPDATE_VALUE' | translate}}</button>

  </div>


  <table mat-table [dataSource]="dataSource" style="margin-bottom: 50px">


    <ng-container matColumnDef="Language">
      <th mat-header-cell *matHeaderCellDef> {{ "VERSION" | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <span title='{{element.language | translate}}'>{{element.language}} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Key">
      <th mat-header-cell *matHeaderCellDef> {{ "CODE" | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <span title='{{element.key | translate}}'>{{element.key}} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Value">
      <th mat-header-cell *matHeaderCellDef> {{ "VERSION" | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <span title='{{element.value | translate}}'>{{element.value}} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> {{ "ACTIONS" | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="icon-display" (click)="update(element)" inline matTooltip="{{ 'UPDATE' | translate}}">edit</mat-icon>
        <mat-icon class="icon-display danger" (click)="delete(element)" inline matTooltip="{{ 'DELETE' | translate}}">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;" class="mat-header"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-gold': row.IsGranted }" class="mat-row"></tr>
  </table>

  <div>
    <button (click)="cancel()">{{ "CANCEL" | translate }}</button>
    <button  (click)="validate()" *ngIf="userAccessService.canEdit()">{{ "SAVE" | translate }}</button>
  </div>

</div>
