<p>
  <mat-toolbar>
    <span> {{ "NOTIFICATIONS" | translate }}</span>
  </mat-toolbar>
</p>

<div style="text-align: center; width: 100%;">
  <mat-slide-toggle (change)="markAllAsReaded()"  [disabled]="readed">
    <span class="secondary" style="margin-left: 10px;margin-right: 10px;" *ngIf="!readed">{{ "MARK_AS_READ" | translate }}</span>
    <span class="secondary" style="margin-left: 10px;margin-right: 10px;" *ngIf="readed">{{ "MARK_AS_READ" | translate }}</span>
  </mat-slide-toggle>
  <mat-slide-toggle (change)="allreadyReaded()">
    <span class="secondary" style="margin-left: 10px;margin-right: 10px;" *ngIf="readed">{{ "ALREADY_READ" | translate }}</span>
    <span class="secondary" style="margin-left: 10px;margin-right: 10px;" *ngIf="!readed">{{ "NOT_READ" | translate }}</span>
  </mat-slide-toggle>
</div>

<div mat-dialog-content>


  <table mat-table [dataSource]="dataSource">
    <!-- Date Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef>{{ "DATE" | translate }}</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'read': readed, 'unread': !readed}" [title]="element.date">
        {{ element.date | date: readed ? 'mediumDate' : 'dd/MM/YYYY HH:mm' }}
      </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef>{{ "TYPE" | translate }}</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'read': readed, 'unread': !readed}" [title]="element.type | translate">
        {{ element.type | translate }}
      </td>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="Code">
      <th mat-header-cell *matHeaderCellDef>{{ "CODE" | translate }}</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'read': readed, 'unread': !readed}" [title]="element.typeCode | translate">
        {{ element.typeCode | translate }}
      </td>
    </ng-container>

    <!-- Modified By Column -->
    <ng-container matColumnDef="By">
      <th mat-header-cell *matHeaderCellDef>{{ "MODIFIED_BY" | translate }}</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'read': readed, 'unread': !readed}" [title]="element.userName">
        {{ element.userName }}
      </td>
    </ng-container>

    <!-- Message Column -->
    <ng-container matColumnDef="Message">
      <th mat-header-cell *matHeaderCellDef>{{ "DESCRIPTION" | translate }}</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'read': readed, 'unread': !readed}" [title]="element.code | translate">
        {{ element.code | translate }}
      </td>
    </ng-container>

    <!-- Version Column -->
    <ng-container matColumnDef="Version">
      <th mat-header-cell *matHeaderCellDef>{{ "VERSION" | translate }}</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'read': readed, 'unread': !readed}" [title]="element.typeVersion | translate">
        {{ element.typeVersion | translate }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>{{ "ACTIONS" | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="!readed"
          class="icon-display unread"
          (click)="markAsReaded(element)"
          matTooltip="{{ 'READED' | translate }}"
          [attr.aria-label]="'READED' | translate">
          check
        </mat-icon>
        <mat-icon  *ngIf="readed"
          class="icon-display read"
          (click)="markAsNotReaded(element)"
          matTooltip="{{ 'NOT_READED' | translate }}"
          [attr.aria-label]="'NOT_READED' | translate">
          mark_chat_unread
        </mat-icon>
      </td>
    </ng-container>

    <!-- Table Rows -->
    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true;" class="mat-header">
    </tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="{'unread-row': !readed}" class="mat-row">
    </tr>
  </table>

  <!-- Paginator -->
  <mat-paginator #MatPaginator
    [length]="total"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10]"
    (page)="gotoNextPage($event)"
    [showFirstLastButtons]="true">
  </mat-paginator>

</div>
