<script src="content-charts.component.ts"></script>
<p>
  <mat-toolbar>
    <span> {{ "ANALYTICS" | translate }}</span>
  </mat-toolbar>
</p>

<i *ngIf="selectedProject"> {{ selectedProject.name }} ({{ selectedProject.code }})</i>
<i *ngIf="selectedNode"> > {{ selectedNode.name }} ({{ selectedNode.code }})</i>
<i *ngIf="selectedContent"> > {{ selectedContent.description }} ({{ selectedContent.code }})</i>
<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>{{ "PROJECTS" | translate }} / {{ "ENVIRONMENTS" | translate }}</mat-label>
    <mat-select [(ngModel)]="selectedProject" name="project" (ngModelChange)="changeProject()">
      <mat-option *ngFor="let project of projects" [value]="project">{{ project.name }} ({{ project.code }})
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="selectedProject">
    <mat-label>{{ "NODES" | translate }}</mat-label>
    <mat-select [(ngModel)]="selectedNode" name="node" (ngModelChange)="changeNode()">
      <mat-option *ngFor="let node of nodes" [value]="node"> {{ node.name }} ({{ node.code }})</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="selectedNode">
    <mat-label>{{ "CONTENT" | translate }}</mat-label>
    <mat-select [(ngModel)]="selectedContent" name="node" (ngModelChange)="changeContent()">
      <mat-option *ngFor="let content of contents" [value]="content">{{ content.description }} ({{ content.code }})
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-content style="margin-bottom: 80px"
     *ngIf="feedbackCharts && feedbackCharts && feedbackCharts.length > 0">

  <h1 mat-dialog-title>{{ "FEEDBACKS" | translate }}</h1>

  <table style="max-width: 100%">
    <tr *ngFor="let feedbackChart of feedbackCharts">
      <td>
        <br><br>
        <span style="display: flex;flex-direction: row;height: 30%; margin-top: 30px;margin-bottom: 30px"
              *ngFor="let chart of feedbackChart.data">
            <h3 style="margin-top: 10px;margin-bottom: 10px; margin-right: 30px"></h3>

             <h2 *ngIf="!selectedProject">{{ 'ALL' | translate }}</h2>
             <h2 *ngIf="selectedProject && !selectedNode">{{ selectedProject.name }} ({{ selectedProject.code }})</h2>
             <h2 *ngIf="selectedProject && selectedNode && !selectedContent">{{ selectedNode.name }} ({{ selectedNode.code }})</h2>
             <h2 *ngIf="selectedContent">{{ selectedContent.description }} ({{ selectedContent.code }})</h2>

              <ngx-charts-pie-chart style="margin-top: 10px;margin-bottom: 10px"
                                    [view]="viewFeedbacks"
                                    [scheme]="colorScheme"
                                    [results]="chart.charts"
                                    [gradient]="gradient"
                                    [legend]="showLegend"
                                    [legendPosition]="legendPosition"
                                    [labels]="showLabels"
                                    [doughnut]="isDoughnut"
                                    (activate)="onActivate($event)"
                                    (deactivate)="onDeactivate($event)"
              >
            </ngx-charts-pie-chart>

             <h2>{{ 'VERIFIED' | translate }}</h2>
             <ngx-charts-pie-chart style="margin-top: 10px;margin-bottom: 10px"
                                   [view]="viewFeedbacks"
                                   [scheme]="colorScheme"
                                   [results]="chart.verified"
                                   [gradient]="gradient"
                                   [legend]="showLegend"
                                   [legendPosition]="legendPosition"
                                   [labels]="showLabels"
                                   [doughnut]="isDoughnut"
                                   (activate)="onActivate($event)"
                                   (deactivate)="onDeactivate($event)"
             >
            </ngx-charts-pie-chart>

             <h2>{{ 'NOT_VERIFIED' | translate }}</h2>
                <ngx-charts-pie-chart style="margin-top: 10px;margin-bottom: 10px"
                                      [view]="viewFeedbacks"
                                      [scheme]="colorScheme"
                                      [results]="chart.notVerified"
                                      [gradient]="gradient"
                                      [legend]="showLegend"
                                      [legendPosition]="legendPosition"
                                      [labels]="showLabels"
                                      [doughnut]="isDoughnut"
                                      (activate)="onActivate($event)"
                                      (deactivate)="onDeactivate($event)"
                >
            </ngx-charts-pie-chart>
           </span>

      </td>
    </tr>
  </table>
</div>

<div mat-dialog-content style="margin-top: 30px;margin-bottom: 30px; margin-right: 30px"  *ngIf="displayCharts && displayCharts.length > 0">
  <h1 mat-dialog-title>{{ "DISPLAYS" | translate }}</h1>

  <span *ngFor="let displayedChart of displayCharts">
    <h3>{{ displayedChart.name | translate }}</h3>

 <ngx-charts-pie-chart
   [view]="viewDisplays"
   [scheme]="colorScheme"
   [results]="displayedChart.data"
   [gradient]="gradient"
   [legend]="showLegend"
   [legendPosition]="legendPosition"
   [labels]="showLabels"
   [doughnut]="isDoughnut"
   (activate)="onActivate($event)"
   (deactivate)="onDeactivate($event)">

 </ngx-charts-pie-chart>
  </span>
</div>
<br>
<div mat-dialog-content style="margin-top: 30px;margin-bottom: 30px; margin-right: 30px" *ngIf="clickCharts && clickCharts.length > 0">

  <h1 mat-dialog-title>{{ "CLICKS" | translate }}</h1>
  <span *ngFor="let clickChart of clickCharts">
    <h3>{{ clickChart.name | translate}}</h3>
<ngx-charts-pie-chart
  [view]="viewClicks"
  [scheme]="colorScheme"
  [results]="clickChart.data"
  [gradient]="gradient"
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
>
</ngx-charts-pie-chart>
  </span>
</div>
<div mat-dialog-actions>
  <button mat-button class="warn" (click)="initFilter()">{{ "INIT" | translate }}</button>
</div>
