<div *ngIf="contentNode">
  <app-content-code-html
    [contentNode]="contentNode"/>

  <app-content-code-js
    [contentNode]="contentNode"/>

  <app-content-code-css
    [contentNode]="contentNode"/>

  <app-content-code-picture
    (onFileChange)="onFileChange($event)" [contentNode]="contentNode"/>

  <app-content-code-file
    (onFileChange)="onFileChange($event)" [contentNode]="contentNode"/>

  <app-content-code-json
    [contentNode]="contentNode"/>

  <app-content-code-xml
    [contentNode]="contentNode"/>

  <app-content-code-urls
    [contentNode]="contentNode"/>

</div>
<app-content-code-actions
  [contentNode]="contentNode"
  (close)="close(false)"
  (validate)="validate()">
</app-content-code-actions>
