<div name="contentCreationHtml" *ngIf="contentNode.type ==='HTML'" >
  <app-content-code-title
    [title]="'HTML'"></app-content-code-title>

  <app-content-code-infos [contentNode]="contentNode"></app-content-code-infos>

  <button mat-icon-button matTooltip="{{ 'CODE' | translate }}"  (click)="setCodeEdition(false)"  *ngIf="code">
    <mat-icon>code</mat-icon>
  </button>
  <button mat-icon-button matTooltip="{{ 'HTML' | translate }}" (click)="setCodeEdition(true)" *ngIf="!code">
    <mat-icon>html</mat-icon>
  </button>

  <ngx-codemirror *ngIf="code"
                  class="viewCode"
    [(ngModel)]="contentNode.content"
    [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'htmlmixed',
        scrollbarStyle:'native'
      }"
  ></ngx-codemirror>
  <div [innerHTML]="contentFilled" *ngIf="!code && contentFilled"
           class="htmlViewer"></div>

</div>
