<!-- content-datas.component.html -->
<div class="datas-container">
  <div class="datas-card">
    <div class="datas-header">
      <h2>
        <mat-icon>storage</mat-icon>
        {{ "DATAS" | translate }}
      </h2>
      @if (contentNode) {
      <div class="content-info">
        <span>
          <mat-icon>title</mat-icon>
          {{ contentNode.description || contentNode.code }}
        </span>
        <span>
          <mat-icon>label</mat-icon>
          {{ contentNode.type }}
        </span>
      </div>
      }
    </div>

    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource()" class="datas-table">
        <ng-container matColumnDef="Content">
          <th mat-header-cell *matHeaderCellDef>{{ "CONTENT" | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <div class="cell-content" [title]="contentNode.description">
              {{ contentNode.description || contentNode.code }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef>{{ "TYPE" | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <span class="badge-type">
              {{ element.dataType | translate }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="Key">
          <th mat-header-cell *matHeaderCellDef>{{ "KEY" | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <div class="cell-content" [title]="element.key">
              {{ element.key }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Creation">
          <th mat-header-cell *matHeaderCellDef>{{ "CREATION_DATE" | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <div class="cell-content">
              {{ element.creationDate | date:'dd/MM/yyyy HH:mm' }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Modification">
          <th mat-header-cell *matHeaderCellDef>{{ "MODIFICATION_DATE" | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <div class="cell-content">
              {{ element.modificationDate | date:'dd/MM/yyyy HH:mm' }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Data">
          <th mat-header-cell *matHeaderCellDef>{{ "DATA" | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <div class="cell-content" [title]="element.value">
              {{ element.value | translate }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef class="actions-cell">{{ "ACTIONS" | translate }}</th>
          <td mat-cell *matCellDef="let element" class="actions-cell">
            <mat-icon class="action-icon delete" (click)="deleteData(element.id)" [matTooltip]="'DELETE' | translate"
              matTooltipPosition="above">
              delete
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"> </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"> </tr>
      </table>
    </div>

    @if (total() > 0) {
    <div class="pagination-container">
      <mat-paginator [length]="total()" [pageSize]="currentPageSize()" [pageSizeOptions]="[5, 10, 25, 50]"
        [pageIndex]="currentIndex()" (page)="gotoNextPage($event)" [showFirstLastButtons]="true"
        aria-label="Select page">
      </mat-paginator>
    </div>
    }

    <div class="dialog-actions">
      <button mat-button mat-dialog-close color="primary" (click)="close()">
        {{ "CLOSE" | translate }}
      </button>
    </div>
  </div>
</div>